<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="/outlet.css"/>
    <title>Opener S3 Outlet</title>
  </head>
  <body>
    <%= @parsed%>
  </body>
</html>
